/*!
* www.KNACSS.com V6.0.5 (1er décembre 2016) @author: Alsacreations, Raphael Goetter
* Licence WTFPL http://www.wtfpl.net/
*/

/* ----------------------------- */
/* ==Table Of Content            */
/* ----------------------------- */

/* 1- Normalize (basic reset) */
/* 2- Base (basic styles) */
/* 3- Print (print quick reset) */
/* 4- Stylings (minor stylings) */
/* 5- Misc (skip links, hyphens) */
/* 6- Tables (data tables consistency) */
/* 7- Forms (forms consistency) */
/* 8- Media object */
/* 9- Autogrid object */
/* 10- Global Layout (alignment, modules, positionning) */
/* 11- Helpers (width and spacers helpers) */
/* (12- WordPress reset (disabled by default)) */
/* 13- Responsive (Responsive Web Design helpers) */
/* 14- Grid Layout (grillade) */

/* ---------------------------------- */
/* ==Normalize (basic reset)          */
/* ---------------------------------- */

@import "_vendor/_normalize.scss"; // normalize (basic reset)

// WARNING : you should comment the following @import (variables)
// and move variables file from knacss folder to your own project folder!
//@import "_config/_variables.scss";
//New variables file
@import "./_variables-paff.scss";

@import "_config/_breakpoints.scss";
@import "_config/_mixins.scss";

// Libraries
@import "library/_base.scss"; // basic styles
@import "library/_print.scss"; // print quick reset
@import "library/_styling.scss"; // minor stylings
@import "library/_misc.scss"; // skip links, hyphens
@import "library/_tables.scss"; // data tables consistency
@import "library/_forms.scss"; // forms consistency

// Objects
@import "objects/_media.scss"; // media object
@import "objects/_autogrid.scss"; // media autogrid

// Utilities
@import "utilities/_layout.scss"; // alignment, modules, positionning
@import "utilities/_helpers.scss"; // width and spacers helpers
// @import "utilities/_wordpress.scss"; // WordPress reset and basic styles
@import "utilities/_responsive.scss"; // Responsive Web Design helpers

// Grids
@import "grids/_grillade.scss"; // grids


// -------- GLOBAL ----------------


.button {
  font-family: $font-stack-headings;
  font-weight: bold;
  font-size: $h4-size-l;
  padding:15px;
  background-color:white;
  border: 1px solid $color2;
  cursor:pointer;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
}
.button:hover {
  background-color:$color2;
  color: white;
}
a {
  text-decoration: none;
}

select {
  height: 50px;
}
h1, h2 {
  color: $color2;
}

.card {
  width: 20%;
  text-align: center;
  margin: 15px;
  font-size: $h3-size-l;
}

.form-item label {
  display: block;
  margin-bottom: 1rem;
}
.form-text {
  width: 80%;
  padding: 1rem;
}
//----------------------------

//---------- HEADER ------------------------

header {
  background-color: white;
  border-bottom: 1px solid $color2;
  height: 15%;
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
      text-align: center;
      font-weight: normal;
      margin: 0;

      a {
        color: $color2;
      }
    }
    h1:hover {

    }
    span, h1  {
      display: block;
      padding: .4em 1em .4em 1em;
    }
    a {
      color: $color3;
    }
    h1 {
      text-align: center;
      font-weight: normal;
      margin: 0;
    }
  }
}
//---------------------


//-------------- ENREGISTRER UN COMPTE-----------
#page-register {
  .form-item label {
    display: block;
    margin-bottom: 1rem;
  }
  .form-text {
    width: 80%;
    padding: 1rem;
  }
}
//---------------------------

//------------ PAGE DE LOGIN -------------------
#connexion-page {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

#login-page {
  .form-item label {
    display: block;
    margin-bottom: 1rem;
  }
  .form-text {
    width: 80%;
    padding: 1rem;
  }
}
// -------------------

// ------ PAGE ACCUEIL-------------
#home {
  background: url("../images/orc.jpg");
  background-size: cover;
  height: 85vh;
  padding-top: 50px;
}

#dashboard {
  display: flex;
  justify-content: center;
}
//-----------------------

//------- PAGE MEMBRES --------------
#liste-membres {
  text-align: center;
  padding-top: 50px;
  .membre {
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    width: 15%;
    a {
      display: inline-block;
      font-size: 3rem;
      color: #D2691E;
      padding: 15px;
      width: 100%;
    }
  }
  .membre:hover {
    background-color:rgba(#D2691E, 0.9);
    a {
      color: white;
    }
  }
}

//---------------------------------

// ------ PAGE PROFIl-------------
#profile-page {
  padding-top: 50px;

  #profil-user {
    display: grid;
    grid-template-columns: 10% 30% 10% 40% 10% ;
    grid-template-rows: 50% 50%;
    grid-template-areas:  ". avatarUser . infosDecks ."
                          ". infosUser .  infosDecks .";
    align-items: center;
    #avatar-user {
      grid-area: avatarUser;
      justify-self: center;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid $color2;
      }
    }
    #infos-user {
      grid-area: infosUser;
    }
    #infos-decks {
      grid-area: infosDecks;
      text-align: center;
    }
    .section {
      background-color: white;
      border-radius: 10px;
      padding: 20px;
      border: 1px solid $color2;

      h3 {
        color: $color2;
        border-bottom: 1px solid $color3;
      }
    }

  }
}



//-----------------------

// -------------- AFFICHAGE DU DECK dans deckEdit, deckShow, deploiement -----------------
#deck_cartes {
  text-align: center;
  .description-faction {
    text-align: justify;
    margin: 0 30px;
    &::first-letter {
      float: left;
      font-size: 75px;
      line-height: 40px;
      color: $color3;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
      padding-bottom: 2px
    }
  }
  .carte {
    img {
      margin-left: auto;
      margin-right: auto;
    }

  }
  .liste-cartes {
    p:first-child {
      margin-top: 0.75em;
    }
  }
  .titre_deck {
    border: 1px solid $color2;
    text-align: center;
    margin-bottom: 20px;
    h2 {
      margin-bottom: 0;
      text-align: center;
    }
    input {
      padding: 5px;
      margin-top: 10px;
      text-align: center;
    }
    #description-deckShow {
      p {
        text-align: left;
      }
    }
  }

  #recap-edit {
    text-align: center;
    background-color: white;
    border: 1px solid $color2;
    @media screen and (max-width: 1400px) {
      font-size: $h5-size-l;
    }

    #recap-chiffres {
      border-bottom: 1px solid $color2;
    }

    #recap-liste-unites {
      .recap-unite {
        display: none;
      }
      .recap-type-unite {
        text-align: center;
        background-color: rgba($color2, 0.8);
        color: white;
      }
      .recap-cartes, .recap-cartes p {
        text-align: left;
        margin-top: 0;
        padding-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
  .fixed {
    position: fixed;
    right: 0;
  }

  .titre_deck_create {
    border: none;
  }
  .type-carte {
    font-size: $h3-size-l;
    color: $color3;
  }
  input[type="number"] {
    width: 50px;
    text-align: center;
  }
  img {
    max-height: 440px;
    display: block;
  }
  h3 {
    margin: 0 auto;
    text-align: center;
    width: 20%;
    cursor: pointer;
    i {
      font-size: $h6-size-l;
    }
  }
}

//----------------------------------

//------------CREER UN DECK------------------
#creer-deck {
  .nav-choix-faction {
    margin: 10px 0;
    .nav-faction {
      text-align: center;
      cursor: pointer;
    }
    .nav-faction:hover, {
      opacity: 1;
    }

    .clear {
      opacity: 0.3;
    }
    .dark {
      opacity: 1;
    }

    .circle {
      width: 50px;
      height: 50px;
      display: inline-block;
      border-radius: 50%;
      background-color:white;
      text-align: center;
      background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
      linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
      linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
      linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
      background-size: 13px, 29px, 37px, 53px;
    }
    .choix_faction {
      margin: 0;
    }
    .bg-Elfes {
      background-color: $color-elfes-bg;
      border: 1px solid grey;
    }
    .bg-Gaeli {
      background-color: $color-gaeli-bg;
      border: 1px solid $color-gaeli-bg;
    }
    .bg-Gobelins {
      background-color: $color-gobelins-bg;
      border: 1px groove $color-gobelins-bg;
    }
    .bg-Jeldi {
      background-color: $color-jeldi-bg;
      border: 1px groove $color-jeldi-bg;
    }
    .bg-Liches {
      background-color: $color-liches-bg;
      border: 1px groove $color-liches-bg;
    }
    .bg-Mors {
      background-color: $color-mors-bg;
      border: 1px groove $color-mors-bg;
    }
    .bg-Nains {
      background-color: $color-nains-bg;
      border: 1px groove $color-nains-bg;
    }
    .bg-Nordiques {
      background-color: $color-nordiques-bg;
      border: 1px groove $color-nordiques-bg;
    }
    .bg-Orcs {
      background-color: $color-orcs-bg;
      border: 1px groove $color-orcs-bg;
    }
    .bg-Paoli {
      background-color: $color-paoli-bg;
      border: 1px groove $color-paoli-bg;
    }
    .bg-Priana {
      background-color: $color-priana-bg;
      border: 1px groove $color-priana-bg;
    }
    .bg-Sephosi {
      background-color: $color-sephosi-bg;
      border: 1px groove $color-sephosi-bg;
    }
    .bg-Skavens {
      background-color: $color-skavens-bg;
      border: 1px groove $color-skavens-bg;
    }
  }
  .presentation-faction {
    margin-top: 20px;
  }
  input[type="submit"] {
    margin-top: 20px;
  }
}

//------------------------------

//---------------------JOUER UN DECK------------------------
#cartes-jeu {

  #cartes-main {
    margin: 20px;
    p:first-child {
      margin-top: 15px;
    }
    img {
      max-height: 440px;
      display: block;
    }
    button {
      margin: 5px;
    }
  }
}
//------------------------------

//------------CREATION DE PARTIE------------
#recap-avant-partie {
  .partie-item {
    border: 1px solid black;
  }
  .joueur-infos {
    background-color: white;
  }
  #vs-joueurs {
    border: none;
  }
}

#nav-creation-partie {
  border-bottom: 1px solid $color2;
  div.active {
    color: $color2;
    font-weight: bold;
  }
}

#table-parties {
  width: 95%;
  margin: 10px 20px 0 20px;
  background: white;
  border-collapse: collapse;
  border-spacing: 0;
  td {
    border: 1px solid grey;
  }
  th {
    background-color: rgba($color2, 0.9);
    color: white;
    font-weight: bold;
  }
  a {
    color: $color3;
  }
    /* Cells in even rows (2,4,6...) are one color */
  tr:nth-child(even) td { background: #F1F1F1; }
  /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
  tr:nth-child(odd) td { background: white; }

  form {
    display: inline-block;
  }
  .submit-with-icon {
  cursor: pointer;
  background: transparent;
    border: 0px;
    padding: 0;
    outline: 0;
}

  #detruire-partie {
    &:hover {
      cursor: pointer;
    }
  }
}

#creer-partie {
  margin-left: 20px;
  margin-top: 15px;
  i {
    color: $color3;
  }
}

//-----------------------------

//--------- ZONE DE JEU----------------------
#table-jeu {
  display: grid;
  grid-template-columns: 25% 25% 30% 20%;
  grid-template-rows: auto;
  grid-template-areas:  "cartesMain1 cartesMain1 presJoueur1 presJoueur1"
                        "cartesMain1 cartesMain1 . ."
                        "cartesDeploiement1 cartesDeploiement1 decorJ1 ."
                        "zoneJeu zoneJeu zoneJeu ."
                        "zoneJeu zoneJeu zoneJeu infosPartie"
                        "zoneJeu zoneJeu zoneJeu ."
                        "cartesDeploiement2 cartesDeploiement2 decorJ2 ."
                        "cartesMain2 cartesMain2 . ."
                        "cartesMain2 cartesMain2 presJoueur2 presJoueur2"
                        "defausse defausse defausse defausse";
  margin-top: 10px;
  #presentation-joueur-1 {
    grid-area: presJoueur1;
  }
  #presentation-joueur-2 {
    grid-area: presJoueur2;
  }
  #cartes-main-1 {
    grid-area: cartesMain1;
  }
  #cartes-main-2 {
    grid-area: cartesMain2;
  }
  #cartes-deploiement-1 {
    grid-area: cartesDeploiement1;
  }
  #cartes-deploiement-2 {
    grid-area: cartesDeploiement2;
  }
  #cartes-decor-J1 {
    grid-area: decorJ1;
    align-self:  center;
  }
  #cartes-decor-J2 {
    grid-area: decorJ2;
    align-self: center;
  }
  #defausse {
    grid-area: defausse;
  }
  .presentation-joueur {
    margin: 10px;
    background-color: white;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-self: end;
    .item {
      border: 1px solid $color2;
      padding: 5px 10px;
    }
    .ptsDeploiement input{
      width: 40px;
    }
  }

  #zone-de-jeu {
    grid-area: zoneJeu;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 6px repeat(5, 1fr) 6px repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px 10px;
    margin: 10px;

    .separation-zone {
      background: #f1a629;
      height: 110%
    }

    #tooltip-carte-action {
      background:#1d1d1d;
      color:#fff;
      padding:7px;
      border-radius:5px;
      position:absolute;
      width:350px;
      display:none;
      z-index: 10;
      .button {
        font-size: $h6-size-l;
      }
    }

    #tooltip-zone-decor {
      background:#1d1d1d;
      color:#fff;
      padding:7px;
      border-radius:5px;
      position:absolute;
      width:350px;
      display:none;
      z-index: 10;
      .button {
        font-size: $h6-size-l;
      }
    }
    #degats {
      color: red;
      font-weight: bold;
      background-color: white;
      position: relative;
    p {
      position: absolute;
      bottom: 5px;
      right: 5px;
      }
    }

    #flagCarte {
      color: yellow;
      font-weight: bold;
      position: absolute;
      bottom: 10px;
      left: 5px;
      width: 15px;
      height: 15px;
      &.not-visible {
        display: none;
      }
    }
  }

  .cartes-decor {
    display: inline-block;
    border: 1px solid black;
    background: white;
    height: $hauteur-carte;
    width : ($hauteur-carte * 0.71);
    &.decor {
      border: 5px solid yellowgreen !important;
    }
    &.colline {
      background: chartreuse !important;
    }
    &.foret {
      background: forestgreen !important;
    }
    &.lac {
      background: cornflowerblue !important;
    }
    &.ruines {
      background: grey !important;
    }
  }

  .zoneJeu {
    border: 1px solid black;
    background: white;
    min-height: $hauteur-carte;
    min-width : ($hauteur-carte * 0.71);
    &.flanc-coco {
      background-color: rgba(blue, 0.1);
    }
    &.flanc-quetsch {
      background-color: rgba(blue, 0.1);
    }
    &.active-zone {
      background: rgba(#f1a629, 0.5);
    }
    &.decor {
      border: 5px solid yellowgreen !important;
    }
    &.colline {
      background: chartreuse !important;
    }
    &.foret {
      background: forestgreen !important;
    }
    &.lac {
      background: cornflowerblue !important;
    }
    &.ruines {
      background: grey !important;
    }
  }
  .carte-main {
    max-width: 100%;
    max-height: 100%;
    img.combat-flanc {
      border: 3px solid red;
    }
    #flagCarte.not-visible {
      display: none;
    }
    img.front-top {
      border-top: 3px solid red;
    }
    img.front-bottom {
      border-bottom: 3px solid red;
    }
    img.front-left {
      border-left: 3px solid red;
    }
    img.front-right {
      border-right: 3px solid red;
    }
  }
  .testMoral {
    opacity: 0.3;
  }
  .enFuite {
    transform: rotate(180deg);
  }

  .cartes-deploiement {
    .carte-main {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .cartes-main, .cartes-deploiement, #cartes-defausse {
    margin-left: 10px;
    .carte-main {
      max-height: $hauteur-carte;
      max-width : ($hauteur-carte * 0.71);
    }
  }

  .cartes-main, .cartes-deploiement {
    &.not-visible {
      display: none;
    }
    .not-visible {
      background-color: black;
      img {
        visibility: hidden;
      }
    }
  }

  #infos-partie {
    grid-area: infosPartie;
    justify-self: end;
    margin-right: 10px;
    text-align: center;
    hr {
      margin: 10px 0 10px 0;
    }
    #tour{
      input {
        width: 50px;
      }
    }
    #carte-grand {
      border: 1px solid black;
      height: 300px;
      width: (300px * 0.71);
      img {
        max-height: 300px;
      }
    }
    #historique-des {
      height: 90px;
      margin-top: 10px;
      text-align: left;
      overflow: auto;
      display: flex;
      flex-basis: 30px;
      flex-direction: column;
      background-color: white;
      border: 1px solid black;
      span {
        line-height: 1;
      }
    }
  }

}
//-----------------------

#cartes-defausse {
  width: 100%;
  border: 1px solid black;
  .zoneDefausse {
    max-height: $hauteur-carte;
    max-width : ($hauteur-carte * 0.71);
    display: inline-block;
  }
}
